$font-size:12px;


.row{
  margin-left: 0!important;
  margin-right: 0!important;
}
.container-fluid
{
  padding: 0;
}

#banner {
  background-image: url("images/flat1.jpg");
  background-size:cover;
}

/* -------- Navbar -------- */

#logo
{
  height: 35px;
  width: 35px;
}

.navbar{
 font-size:$font-size;
  font-weight: bold;
}

.navbar-light{
  .nav-link {
  color: black;
  margin-left: 20px;
  &:hover{
     color: #10c9c3;
}
&:focus{
 color: #10c9c3;
}

}

.navbar-light .navbar-toggler {
  color: black;
  border: none;
}  
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

}


/* -------- HOME -------- */

.jumbotron
{
  background: none;

   p
{
  color: #787878;
  font-size: 18px;
 
}
h1
{
  
  font-size: 38px;
  font-weight: bold;
  color: #1d1d1d;
}
}





#banner{
  .btn
{
  
  font-size:$font-size;
  font-weight: bold;
  padding: 20px 45px 20px 45px;
  border: none;
  border-radius: 0px;
  background-color: #10c9c3;

  &:hover{
     box-shadow: 2px 2px 2px #7C8487;
}
}

} 



@media (max-width: 991.98px)
{
  #banner{

   .jumbotron
  {
    text-align: center;
    padding: 40px 40px 0px 40px;
    background: rgba(255, 255, 255, 0.5);
  p
  {
    text-align: center;
  }

  } 
  } 


  .navbar
  {
    background: rgba(255, 255, 255, 0.5);
  }
}


/* -------- ABOUT US -------- */

#about
{
  text-align: center;
h2
{
  
  font-size: 30px;
  font-weight: bold;

}

p
{

  font-size: 16px;
  color: #787878;
  text-align: center;
}

}




@media (max-width: 991.98px)
{
  #about
  {
    padding: 20px 40px 20px 40px;
  }
}

/* -------- SKILLS -------- */

#skills{
  background-color: #f8f9f9;
  padding: 0;
  margin: 0;
 
  h2
{
  
  font-size: 30px;
}
p
{
  
  font-size:$font-size;
  font-weight: bold;
  color: black;
  padding: 10px 0px 0px 0px;
}
 #skills_text
 {
  padding: 100px 80px 100px 80px;
 }
} 
 .progress {
  height: 0.5em;
  font-size: 0.5em;

  .progress-bar
 {
  height: 1em;
  background-color: #10c9c3;
 }
 }

 #image_skills {
  background-image: url("images/background2.jpg");
  background-size: cover;
}

@media (max-width: 991.98px)
{
  #skills_text
  {
    padding: 50px 40px 50px 40px;
  }
}


/* -------- NUMBERS -------- */

#numbers
{
  padding: 0;
  margin: 0;

 h3
{
  
  font-size: 18px;
  color: white;
}

 p
{
  
  font-size:$font-size;
  color: white;
}
}

.number
{
  background-color: #10c9c3;
  padding: 100px 0px 100px 50px;
}



@media (max-width: 768px) /* -------- PHONES -------- */
{
  .number
  {
    padding: 15px 40px 15px 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) /* -------- TABLETS -------- */
{
  .number
  {
    padding: 50px 40px 50px 40px;
  }
}

/* -------- WORK -------- */

#work, #work .row .col-lg-3, #more_work, #more_work .row .col-lg-3
{
  padding: 0;
  margin: 0;
  background-color: black;
}

#work, #work .row .col-lg-3, #more_work, #more_work .row .col-lg-3
{
  background: url("images/eye-regular.png") no-repeat center;
  background-color: black;
}

#work{
  img{
&:hover{
  -webkit-transition: all 0.4s;
    -webkit-filter: opacity(30%);
  }
}
  
}

#load_more
{
  background-color: #f5f5f5;
  padding: 40px 0px 25px 0px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size:$font-size;
  font-weight: bold;
  color: #787878;

p
{

  font-size:$font-size;
  font-weight: bold;
  color: #787878;
  text-decoration: none;
&:hover{
   color: #10c9c3;
  text-decoration: none;

}
}
}


/* -------- WORK PROCESS -------- */

#work_process
{
  padding: 70px 50px 0px 50px;
}

#video
{
  text-align: center;
  padding: 0px 100px 0px 100px;
  margin-bottom: 80px; 
}

@media (max-width: 768px) /* -------- PHONES -------- */
{
  #video
  {
    padding: 0px 0px 0px 0px;
  }
}

/* -------- SERVICES-------- */

#services
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
 .col-lg-3
{
  text-align: center;
  padding: 50px 10px 50px 10px;
  margin: 0;
  background-color: #f5f5f5;
}

strong
{

  font-size:$font-size;
  font-weight: bold;
  color: black;
}
p
{
  
  font-size: 16px;
}

}

@media (max-width: 991.98px)
{
  #services .row .col-lg-3
  {
    padding: 15px 20px 15px 20px;
  }
}

/* -------- TESTIMONIALS -------- */

#testimonials{
 .col-12

{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
}
.carousel-item
{
  padding: 180px 200px 0px 200px;
  height: 500px;
  background-color: #10c9c3;
p
{
  color: white;
  text-align: center;
  
  font-size: 12px;
}
 strong
{
  font-size: 24px;
}
}

@media (max-width: 768px) /* -------- PHONES -------- */
{
  .carousel-item
  {
    padding: 50px 20px 0px 20px;
    height: 300px;
  
strong
  {
    font-size: 16px;
  }
  } 
}

@media (min-width: 768px) and (max-width: 991.98px) /* -------- TABLETS -------- */
{
  .carousel-item
  {
    padding: 70px 50px 0px 50px;
    height: 300px;
  
strong
  {
    font-size: 20px;
  }
  }
}

/* -------- CLIENTS -------- */

#clients
{
  padding: 60px 0px 60px 0px;

img
{
  padding: 10px 60px 10px 60px;
  opacity: 0.5;
}

}


#clients .col-6 img
{
  padding: 10px 5px 10px 5px;
}

/* -------- CONTACT -------- */

#contact
{
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
 h3
{

  font-size: 30px;
  font-weight: bold;
}

p
{

  font-size: 16px;
}

.btn
{
 
  font-size:$font-size;
  font-weight: bold;
  padding: 20px 35px 20px 35px;
  border: none;
  border-radius: 0px;
  background-color: #10c9c3;

&:hover{
   box-shadow: 2px 2px 2px #7C8487;
}

}
}

.form-row
{
  justify-content: center;

.form-control
{
  border: none;
  border-radius: 0;
}
}

.form-group
{
  padding: 0px 0px 25px 0px;
}


@media (max-width: 991.98px)
{
  .form-group
  {
    padding: 0px 0px 10px 0px;
  }
}


/* -------- FOOTER -------- */

#footer
{
  background-color: #141414;
  padding: 100px 40px 70px 40px;

p
{
  color: #bcbcbc;
 
  font-size: 15px;
}
 a{
  @extend p;
 &:hover{
  
  color: #10c9c3;
  text-decoration: none;
}

 }
 strong
{
  color: white;
 
  font-size: 18px;
  font-weight: bold
}
}




@media (max-width: 991.98px)
{
  #footer
  {
    text-align: center;
    padding: 40px 40px 30px 40px;
  
  .col-md-5
  {
    padding: 20px 0px 0px 0px;
  }
.col-4
  {
    padding: 20px 0px 0px 0px;
  }
  }
}